<html>
    <body>
        <h1>seleção de livros</h1>
        <form action="/remov" method="post">
            <div>
                <label for="titulo">Titulo:</label>
                <input type="text" id="titulo" name="titulo" placeholder="coloque o titulo" />
            </div>
            
            <input type="submit" value="Salvar" />

            <tr for (id in data.id)>
                <td>${id.id}</td>
                <td>${id.titulo}</td>
            </tr>
        </form>

    </body>
</html>